<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'login100-form validate-form' }) do |f| %>
  <div class="previous"><span class="icon-arrow_back"></span> <%= link_to "Back to previous page", :back %></div>
  <span class="login100-form-title p-b-43">
    Change Password <%= resource_name.to_s.humanize %>
  </span>

  <%= devise_error_messages! %>

  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <%= f.email_field :email, class: "input100", autofocus: true, autocomplete: "email"  %>
    <span class="focus-input100"></span>
    <span class="label-input100">Email</span>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="wrap-input100 validate-input" data-validate="Password is required">
    <%= f.password_field :password, autocomplete: "new-password", class: "input100" %>
    <span class="focus-input100"></span>
    <span class="label-input100">
      New password -
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <br />
      <i>(leave blank if you don't want to change it)</i>
    </span>
  </div>

  <div class="wrap-input100 validate-input">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input100" %>
    <span class="focus-input100"></span>
    <span class="label-input100">Password confirmation</span>
  </div>

  <div class="wrap-input100 validate-input">
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input100" %>
    <span class="focus-input100"></span>
    <span class="label-input100">
      Old password
      <br />
      <i>(Need your current password to confirm your changes)</i>
    </span>
  </div>

  <div class="container-login100-form-btn">
    <%= f.submit "Update", class: "login100-form-btn" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
