<tr>
  <td class="title"><%= post.title %></td>
  <td class="content"><%= post.content %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', 'javascript:;', class: "update-post" %></td>
  <td><%= link_to 'Delete', post, method: 'delete', data: {confirm:'Are you sure?'}, remote: true, class: 'destroy-post' %></td>
</tr>