<% @title="Post" %>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts">
    <%= render @posts %>
  </tbody>
</table>

<br>
<%= form_for(@post, remote: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, row: '6' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
    $('.update-post').click(function () {
        var title = $(this).parent().find('td.title').html();
        var content = $(this).parent().eq(2).find('td.content').html();
        console.log(title, content);
    });
</script>
<%#= link_to 'New Post', new_post_path %>
