<h1>Post </h1>
<%= link_to('New Post', new_post_path)%>
<table class="table table-striped">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="cold">Quantity</th>
      <th scope="col">Content</th>
      <th scope="col" colspan="3"></th>
    </tr> 
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <%= cache "post-#{post.id}" do %>
        <%= render  partial: 'post',  locals: { post: post }%>
      <% end %>
    <% end %>
  </tbody>

</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>

<%= javascript_tag "console.log('Test javascript tag')" %>

<script>
  $(".container h1:contains('Post')").replaceWith('<%= j render 'posts/demo' %>');
</script>
