<% content_for :title do %>
  Categories
<% end %>

<div class="page-header">
  <%= link_to 'javascripts:;', class: 'add-category btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category
  <% end %>
  <%= link_to 'javascripts:;', class: 'close-category btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Listing categories</h1>
</div>

<div class="table-responsive">
  <div id="new-category" class="col-sm-12 col-offset-2">
    <%= form_for(@category, url: manager_categories_path, html: { class: "form-horizontal", role: "form" }, remote: true) do |f| %>
      <div class="form-group">
        <%= f.label :category_id, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.number_field :cat_id, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :category_name, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :cat_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :category_content, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :cat_content, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Cat name</th>
        <th>Cat content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="categories">
      <%= render @categories %>
    </tbody>
  </table>
</div>

<script>
  $('.add-category').click(function(){
    $('#new-category').toggle(1000);
  });
  $('.update-cat').click(function () {
    $(this).closest('tr').find('td:nth-child(2)').each(function () {
        // console.log('wwwwwwwww');
        var val = $(this).html();
        console.log(val);
        // var input = ("<input type='text' name");
        // input.val(val);
        // $(this).html(input);
    });
  });
<!--  $("form").submit(function(){-->
<!--      let description = $(this).find('#todo_description').val();-->
<!--      let priority = $(this).find('#todo_priority').val();-->

<!--      $.ajax({-->
<!--          method: 'PUT',-->
<!--          url: <%#= manager_category_path(2) %>,-->
<!--          data: { description: description, priority: priority },-->
<!--          dataType: 'script'-->
<!--      });-->
<!--  });-->
</script>